{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Freelanco</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/main.css' %}" />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Poppins&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Poppins&display=swap"
      rel="stylesheet"
    />

      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}" />
 <link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">
  
  </head>

  <body>
  
    <div class="navbar">
      <ul>
        <li>
          <a class="active" href="#home">
            Freelanco
          </a>
        </li>
        <li>
          <a href="#news">News</a>
        </li>
        <li>
          <a href="#contact">Contact</a>
        </li>
        <li>
          <a href="#abt">Services</a>
        </li>
        {% if user.is_authenticated %}
        <li>
          <a class="log" href="{% url 'users:logout'%}">Logout</a>
        </li>
        {% else %}
        <li>
          <a class="log" href="{% url 'users:login'%}">Login</a>
        </li>
         <li>
          <a  href="{% url 'users:signup' %}">Signup as a customer</a>
        </li>
        <li>
        <a href="{% url 'users:signup' %}">Signup as a freelancer</a>
        </li>
        {% endif %}
      </ul>
    </div>

    <div class="home" id="home">
      <div class="bg"></div>
      <div class="logo">
       
        <div >
           <img src="{% static 'css/images/logo.png' %}" style="height: 100px;width: 100px; margin-bottom: -30px;" />
          <h1 class="no-margin-top">Freelanco</h1>
          
          
        </div>
      </div>
    </div>

    <div class="about" id="abt">
      <h1 class="welcoming-tag">What are you Searching For ?</h1>
      <div class="row">
        <div class="col" style="float: right;">
          <form>
            <input type="text" name="search" placeholder="Location." />
          </form>
        </br>
      
          <form>
            <input type="text" name="search" placeholder="Search.." />
            
          </form>
        </div>
      </div>
    </div> <div class="footer-dark" style="margin-top:-25px;">
        <footer>
            <div class="container" style="text-align:center;">
                <div class="row"style="text-align:center;">
                    <div class="col-sm-6 col-md-3 item ">
                        <h3>Services</h3>
                        <ul style="text-align:center">
                            <li><a href="#">Web design</a></li>
                            <li><a href="#">Development</a></li>
                            <li><a href="#">Hosting</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-3 item">
                        <h3>About</h3>
                        <ul>
                            <li><a href="#">Company</a></li>
                            <li><a href="#">Team</a></li>
                            <li><a href="#">Careers</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 item text">
                        <h3>Freelanco.inc</h3>
                        <p>Praesent sed lobortis mi. Suspendisse vel placerat ligula. Vivamus ac sem lacus. Ut vehicula rhoncus elementum. Etiam quis tristique lectus. Aliquam in arcu eget velit pulvinar dictum vel in justo.</p>
                    </div>
                    <div class="col item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a></div>
                </div>
                <p class="copyright">Company Name © 2020</p>
            </div>
        </footer>
    </div>

    
  </body>
</html>
