{% load static %}

<!DOCTYPE html>
<html>
  <head>
   
      <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Freelanco</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/main.css' %}" />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Poppins&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Poppins&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}" />
        <link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'assets/carousel/carousel/css/style.css'%}">
        <link rel="stylesheet" href="{% static 'assets/carousel/carousel/css/carousel.css'  %}">



        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  
  <link href="{% static "assets/footer/css/style.css"%}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">


<!--
  <style>
#services 
 {
  max-width:100%;
  margin:10px auto;
  padding-top: 20px
  border:0px solid white;
  text-align:center;
  background-color: white;
  font-family: 'Poppins';
}
#services figure 
{
  display:inline-block;
  max-width:100%;
  margin: 20px;
}
#services img 
{
  display:block;
  margin: auto;`
}
a:hover 
{
  color: white;
  font-weight: bold;
}
a{
	color:black;
	text-decoration: none;
}
figcaption{font-size: 14px;}
a:link {color: white;}
a:active {color: white;}
</style>
 
-->
<style>
#services 
 {
  max-width:100%;
  margin:10px auto;
  padding-top: 20px
  border:0px solid white;
  text-align:center;
  background-color: white;
  font-family: 'Poppins';
}
#services figure 
{
  display:inline-block;
  max-width:100%;
  margin: 20px;
}
#services img 
{
  display:block;
  margin: auto;`
}
#services a:hover 
{
  color: white;
  font-weight: bold;
}
#services a{
	color:black;
	text-decoration: none;
}
#services figcaption{font-size: 14px;}
a:link {color: white;}
a:active {color: white;}
a:hover{color: white;}
a{color: white;}
</style>
        
  
  </head>

  

  <body>
  
    <div class="navigationbar">
      <ul>
        <li>
          <a class="active" href="#home">
            Freelanco
          </a>
        </li>
        <li>
          <a href="#news">News</a>
        </li>
        <li>
          <a href="#contact">Contact</a>
        </li>
        <li>
          <a href="#abt">Get Started ?</a>
        </li>
        <li>
        <a href="#serv">Services</a>
        </li>
        {% if user.is_authenticated %}
        <li>
          <a class="log" href="{% url 'users:logout'%}">Logout</a>
        </li>
        {% else %}
        <li>
          <a class="log" href="{% url 'users:login'%}">Login</a>
        </li>
         <li>
          <a  href="{% url 'users:signup' %}">Signup as a customer</a>
        </li>
        <li>
        <a href="{% url 'users:signup' %}">Signup as a freelancer</a>
        </li>
        {% endif %}
      </ul>
    </div>

    <div class="home" id="home">
      <div class="bg"></div>
      <div class="logo">
       
        <div >
           <img src="{% static 'css/images/logo.png' %}" style="height: 100px;width: 100px; margin-bottom: 20px;" />
          <h1 class="no-margin-top">Freelanco</h1>
          
          
        </div>
      </div>
    </div>

    <div class="about" id="abt">
      <h1 class="welcoming-tag">What are you Searching For ?</h1>
     
        <div style="float: right;">
        </br>
          <form>
            <input type="text" name="search" placeholder="Location." />
          </form>
        </br>
      
          <form>
            <input type="text" name="search" placeholder="Search.." />
            
          </form>
        </div>
     

      </div>

      <div id="services" style="#services 
      {
       max-width:100%;
       margin:10px auto;
       padding-top: 20px
       border:0px solid white;
       text-align:center;
       background-color: white;
       font-family: 'Poppins';
     }
     #services figure 
     {
       display:inline-block;
       max-width:100%;
       margin: 20px;
     }
     #services img 
     {
       display:block;
       margin: auto;`
     }
     a:hover 
     {
       color: white;
       font-weight: bold;
     }
     a{
       color: black;
       text-decoration: none;
     }
     figcaption{font-size: 14px;}
     a:link {color: white;}
     a:active {color: white;}">
        <a class="link" href="#">
        <figure>
            <img src ="{% static "assets/img/salon.png"%}" height="70px" width="70px">
            <figcaption>Salon at Home</figcaption>
        </figure>
        </a>
        <a  href="#">
        <figure>
            <img src ="{% static "assets/img/massage1.png"%}" height="70px" width="70px">
            <figcaption>Massage at Home</figcaption>
        </figure>
        </a>
        <a  href="#"><figure>
            <img src ="{% static "assets/img/ac.svg"%}" height="70px" width="70px">
            <figcaption>Electronic Repair</figcaption>
        </figure>
        </a>
        <a  href="#">
        <figure>
            <img src ="{% static "assets/img/cleaning.svg"%}" height="70px" width="70px">
            <figcaption>Cleaning</figcaption>
        </figure>
        </a>
        <a  href="#">
        <figure>
            <img src ="{% static "assets/img/plumber.svg"%}" height="70px" width="70px">
            <figcaption>Electrician Plumber</figcaption>
        </figure>
        </a>
        <a  href="#">
        <figure>
            <img src ="{% static "assets/img/heart.svg"%}" height="70px" width="70px">
            <figcaption>Fitness and Yoga</figcaption>
        </figure>
        </a>
</div>

      
      <div class="container-fluid"style="width: 100%;">
        <div id="carousel-example" class="carousel slide" data-ride="carousel">
            <h2>&nbsp;&nbsp;Recommended Services</h2>
          <div class="carousel-inner row w-100 mx-auto" role="listbox">

              <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3 active">
          <img src="{% static "assets/carousel/carousel/img/recommended/1.jpg" %}" class="img-fluid mx-auto d-block" alt="img1">
          <p>Salon at Home for Women</p>
          
        </div>
        <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3">
          <img src="{% static "assets/carousel/carousel/img/recommended/2.jpg"%}" class="img-fluid mx-auto d-block" alt="img2">
          <p>AC Service and Repair</p>
        </div>
        <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3">
          <img src="{% static "assets/carousel/carousel/img/recommended/3.jpg"%}" class="img-fluid mx-auto d-block" alt="img3">
          <p>Massage for Men</p>
        </div>
        <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3">
          <img src="{% static "assets/carousel/carousel/img/recommended/4.jpg"%}" class="img-fluid mx-auto d-block" alt="img4">
          <p>Massage for Women</p>
        </div>
        <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3">
          <img src="{% static "assets/carousel/carousel/img/recommended/5.jpg"%}" class="img-fluid mx-auto d-block" alt="img5">
          <p>Makeup and Hairstyling</p>
        </div>
        <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3">
          <img src="{% static "assets/carousel/carousel/img/recommended/6.jpg"%}" class="img-fluid mx-auto d-block" alt="img6">
          <p>Full Home Deep Cleaning</p>
        </div>
        <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3">
          <img src="{% static "assets/carousel/carousel/img/recommended/7.jpg"%}" class="img-fluid mx-auto d-block" alt="img7">
          <p>Chartered Accountant</p>
        </div>
        <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3">
          <img src="{%static "assets/carousel/carousel/img/recommended/8.jpg"%}" class="img-fluid mx-auto d-block" alt="img8">
          <p>Kitchen Deep Cleaning</p>
        </div>
        <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3">
          <img src="{% static "assets/carousel/carousel/img/recommended/9.jpg"%}" class="img-fluid mx-auto d-block" alt="img3">
          <p>Carpet Cleaning</p>
        </div><div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3">
          <img src="{% static "assets/carousel/carousel/img/recommended/10.jpg"%}" class="img-fluid mx-auto d-block" alt="img3">
          <p>Pest Control</p>
        </div>
          </div>
          <a class="carousel-control-prev" href="#carousel-example" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carousel-example" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
        </div>
        <div id="carousel-example-1" class="carousel slide" data-ride="carousel">
            <h2>&nbsp;&nbsp;Shifting Homes</h2>
          <div class="carousel-inner row w-100 mx-auto" role="listbox">

              <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3 active">
          <img src="{% static "assets/carousel/carousel/img/shifting/1.png"%}" class="img-fluid mx-auto d-block" alt="img1">
          <p>Packers & Movers</p>
          
        </div>
        <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3">
          <img src="{% static "assets/carousel/carousel/img/shifting/2.jpg"%}" class="img-fluid mx-auto d-block" alt="img2">
          <p>Carpenters</p>
        </div>
        <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3">
          <img src="{% static "assets/carousel/carousel/img/shifting/3.jpg"%}" class="img-fluid mx-auto d-block" alt="img3">
          <p>AC service and Repair</p>
        </div>
        <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3">
          <img src="{% static "assets/carousel/carousel/img/shifting/4.jpg"%}" class="img-fluid mx-auto d-block" alt="img4">
          <p>Pest Control</p>
        </div>
        <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3">
          <img src="{% static "assets/carousel/carousel/img/shifting/5.jpg"%}" class="img-fluid mx-auto d-block" alt="img5">
          <p>Sofa Cleaning</p>
        </div>
        <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3">
          <img src="{% static "assets/carousel/carousel/img/shifting/6.jpg"%}" class="img-fluid mx-auto d-block" alt="img6">
          <p>Bathroom Deep Cleaning</p>
        </div>
        <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3">
          <img src="{% static "assets/carousel/carousel/img/shifting/7.jpg"%}" class="img-fluid mx-auto d-block" alt="img7">
          <p>Kitchen Deep Cleaning</p>
        </div>
        <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3">
          <img src="{% static "assets/carousel/carousel/img/shifting/8.jpg"%}" class="img-fluid mx-auto d-block" alt="img8">
          <p>Full Home Deep Cleaning</p>
        </div>
        <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3">
          <img src="{% static "assets/carousel/carousel/img/shifting/9.jpg"%}" class="img-fluid mx-auto d-block" alt="img3">
          <p>Carpet Cleaning</p>
        </div><div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3">
          <img src="{% static "assets/carousel/carousel/img/shifting/10.jpg"%}" class="img-fluid mx-auto d-block" alt="img3">
          <p>Electricians</p>
        </div>
        <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3">
          <img src="{% static "assets/carousel/carousel/img/shifting/11.jpg"%}" class="img-fluid mx-auto d-block" alt="img3">
          <p>Plumbers</p>
        </div>
          </div>
          <a class="carousel-control-prev" href="#carousel-example-1" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carousel-example-1" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
        </div>
        <div id="carousel-example-2" class="carousel slide" data-ride="carousel">
            <h2>&nbsp;&nbsp;Health & Wellness</h2>
          <div class="carousel-inner row w-100 mx-auto" role="listbox">

              <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3 active">
          <img src="{%static "assets/carousel/carousel/img/health/1.jpg"%}" class="img-fluid mx-auto d-block" alt="img1">
          <p>Fitness Trainer at Home</p>
          
        </div>
        <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3">
          <img src="{% static "assets/carousel/carousel/img/health/2.jpg"%}" class="img-fluid mx-auto d-block" alt="img2">
          <p>Yoga Trainer at Home </p>
        </div>
        <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3">
          <img src="{% static "assets/carousel/carousel/img/health/3.jpg"%}" class="img-fluid mx-auto d-block" alt="img3">
          <p>Dietician</p>
        </div>
        <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3">
          <img src="{% static "assets/carousel/carousel/img/health/4.jpg"%}" class="img-fluid mx-auto d-block" alt="img4">
          <p>Saloon at Home for Women</p>
        </div>
        <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3">
          <img src="{% static "assets/carousel/carousel/img/health/5.jpg"%}" class="img-fluid mx-auto d-block" alt="img5">
          <p>Massage for Women</p>
        </div>
        <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3">
          <img src="{% static "assets/carousel/carousel/img/health/6.jpg"%}" class="img-fluid mx-auto d-block" alt="img6">
          <p>Massage for Men</p>
        </div>
          </div>
          <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
        </div>
    
      

      <div style= "
      background-color: black;
      color: white;
      a{
        color: black;
        text-decoration: none;
      }">
    <footer class="page-footer black" >
      <div class="container" style="">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="green-text" style="font-family:'Lobster',cursive;">Freelanco</h5>
            <p  style="color: whitesmoke"   class="white-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>
  
  
          </div>
          
          <div class="col l3 s12 " style="align-items: center;">
            <h5 style="font-family: 'Poppins'" class="white-text">Reach Us</h5>
            <div style="display: block;">
             
              <p style="color: white;"><span> Aviato.inc HeadQuarters</span> California, USA</p>
              <i class="fa fa-map-marker" style="float: inline-end;"></i>
          </div>
        

          <div style="color: white; display:none;">
          
          <p style="color: white;">  021-5531-4224
            
          <i class="fa fa-phone" style="float: right;">
            </i>
          </p>
        </br>
             
            
          </div>
        </br>
          <div>
             
              <p><a href="#"> help@freelanco.com</a></p>
              <i class="fa fa-envelope" style="float: inline-end ;"></i>
          </div>
          </div>
          <div class="col l3 s12">
            <h1 style="font-family:'Lobster'">Freelanco</h5>
            <p class="menu" class="style" style="color: white; 
            a:hover 
            {
              color: white;
              font-weight: bold;
            }
            a{
              color: white;
              text-decoration: none;
            }
            a:active{
              color: white;
              text-decoration: none;
            }
            a:any-link{
              color: white;
              text-decoration: none;
            }
            a:visited{
              color: white;
              text-decoration: none;
            }
            
            ">
              <a href="#"> Home</a> |
              <a href="#"> About</a> |
              <a href="#"> Services</a> |
              <a href="#"> Portfolio</a> |
              <a href="#"> News</a> |
              <a href="#"> Contact</a>
          </p>
          </div>
        </div>
      </div>
    
    </footer>
  
  </div>
     
    
    
      <!--  Scripts-->
      <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script src="{% static "assets/footer/js/materialize.js"%}"></script>
      <script src="{% static "assets/footer/js/init.js"%}"></script>
    


    
<script src="{% static "assets/carousel/carousel/js/jquery-3.3.1.min.js"%}"></script>
<script src="{% static "assets/carousel/carousel/js/jquery-migrate-3.0.0.min.js"%}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <script src="{% static 'assets/carousel/carousel/js/jquery.backstretch.min.js'%}"></script>
    <script src="{% static 'assets/carousel/carousel/js/wow.min.js'%}"></script>
    <script src="{% static 'assets/carousel/carousel/js/scripts.js'%}"></script>
    
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="{% static  "assets/js/materialize.min.js"%}"></script>

  </body>
</html>
