{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<title>
		Profile
	</title>
	    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
        <link
      href="https://fonts.googleapis.com/css?family=Poppins&display=swap"
      rel="stylesheet"
    />
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/main.css' %}" />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Poppins&display=swap"
      rel="stylesheet"
    />
    <style >* {
        font-family: "Poppins", sans-serif;
        font-size: 15px;
      }
  label {
    font-family: "Poppins", sans-serif;
        font-size: 15px;
}
html {
    background-image: none !important;
}</style>
</head>
<body style={"backgroung-image:"None";}">
<div class="navigationbar">
      <ul>
        <li>
          <a class="active" href="#home">
            Freelanco
          </a>
        </li>
        <li>
          <a href="#news">News</a>
        </li>
        <li>
          <a href="#contact">Contact</a>
        </li>
        <li>
          <a href="#abt">Services</a>
        </li>
        {% if user.is_authenticated %}
        <li>
          <a class="log" href="{% url 'users:logout' %}">Logout</a>
        </li>
        {% else %}
        <li>
          <a class="log" href="{% url 'users:login' %}">Login</a>
        </li>
         <li>
          <a  href="{% url 'users:customer_signup' %}">Signup as a customer</a>
        </li>
        <li>
        <a href="{% url 'users:freelancer_signup' %}">Signup as a freelancer</a>
        </li> 
        {% endif %}
      </ul>
    </div>
    <br>
    <br>
  <div class="container z-depth-3">
    <div class="col l4 s12 m8 offset-m2 offset-l4">
      <div class="card-panel grey lighten-5 z-depth-1">
        <div class="row valign-wrapper">
          <div class="col l2 left">
            <img src="https://picsum.photos/1000/1000" alt="" class="circle responsive-img materialboxed z-depth-2" style="max-width:125px;max-height: 125px">
          </div>
          <div class="col s10 right">
            <span class="black-text">
                <div class="row">
                	<div class="col l6 ">
                	<h5>Personal Details</h5>
                	</div>
                	<div class="col l6 push-l4">
                	<a class="waves-effect waves-green btn .right-align black" href="{% url "users:profile_edit_details" %}"><i class="material-icons left">edit</i>Edit</a>
                </div>
                </div>
                	<div class="divider"></div>
                	<div class="section">
                		<div class="row">
                	<div class="col l6 m6 push-m2 push-l2">
                		<label>User Name</label>
                	</div>
                	<div class="col l6 m6 ">
                		{{user.username}}
                	</div>
                </div>
            
                <div class="row">
                	<div class="col l6 m6 push-m2 push-l2">
                		<label>Email</label>
                	</div>
                	<div class="col l6 m6">
                		{{user.email}}
                	</div>
                </div>
                <div class="row">
                	<div class="col l6 m6 push-m2 push-l2">
                		<label>First Name</label>
                	</div>
                	<div class="col l6 m6">
                		{{user.first_name}}
                	</div>
                </div>
                <div class="row">
                	<div class="col l6 m6 push-m2 push-l2">
                		<label>Last Name</label>
                	</div>
                	<div class="col l6 m6 ">
                		{{user.last_name}}
                	</div>
                </div>
                <div class="row">
                	<div class="col l6 m6 push-m2 push-l2">
                		<label>Extra Field</label>
                	</div>
                	<div class="col l6 m6 ">
                		Extra Attribute
                	</div>
                </div>
                </div>
                 <div class="row">
                	<div class="col l6 ">
                	<h5>Address Details</h5>
                	</div>
                	<div class="col l6 push-l4">
                	<a class="waves-effect waves-green btn .right-align black" href={% url "users:profile_edit_address"%}><i class="material-icons left">edit</i>Edit</a>
                </div>
                </div>
                	<div class="divider"></div>
                	<div class="section">
                		<div class="row">
                	<div class="col l6 m6 push-m2 push-l2">
                		<label>Line 1</label>
                	</div>
                	<div class="col l6 m6 ">
                		{{user.customer_profile.address.address1}}
                	</div>
                </div>
            
                <div class="row">
                	<div class="col l6 m6 push-m2 push-l2">
                		<label>Line 2</label>
                	</div>
                	<div class="col l6 m6 ">
                		{{user.customer_profile.address.address2}}
                	</div>
                </div>
                <div class="row">
                	<div class="col l6 m6 push-m2 push-l2">
                		<label>Pin Code</label>
                	</div>
                	<div class="col l6 m6 ">
                		{{user.customer_profile.address.pin_code}}
                	</div>
                </div>
                <div class="row">
                	<div class="col l6 m6 push-m2 push-l2">
                		<label>City</label>
                	</div>
                	<div class="col l6 m6 ">
                		{{user.customer_profile.address.city}}
                	</div>
                </div>
                <div class="row">
                	<div class="col l6 m6 push-m2 push-l2">
                		<label>State</label>
                	</div>
                	<div class="col l6 m6 ">
                		{{user.customer_profile.address.state}}
                	</div>
                </div>
                </div>
              </span>
          </div>
        </div>
      </div>
    </div>
  </div>

<script>
	  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.materialboxed');
    var instances = M.Materialbox.init(elems, options);
  });
</script>
</html>