@font-face {
  font-family: Pacifico;
  src: url('./fonts/Pacifico-Regular.ttf');
}

@font-face {
  font-family: Kaushan;
  src: url('./fonts/KaushanScript-Regular.ttf');
}

@font-face{ 
  font-family: Abril Fatface ;
  src: url('./fonts/AbrilFatface-Regular.ttf');
}

@font-face{
  font-family: Lobster;
  src: url('./fonts/Lobster-Regular.ttf');
}

@font-face{
  font-family: Poppins;
  src: url('./fonts/Poppins-Regular.ttf');
}

body {
  padding: 0%;
  margin: 0;
  text-decoration: none;
}
.home {
  text-align: center;
  font-size: xx-large;
  background-image: url("./images/teamwork_white_1_dribbble-01-01.png");

  padding-top: 5%;
  background-attachment: fixed;
  display: block;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  
}

.no-margin-top {
  margin-top: 0;
  padding-top: 0px;
  margin-bottom: 5px;
  transform: rotate(-1deg);
  font-size: xx-large;
  font-size: 80px;
  font-family: 'Lobster',cursive;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

li a.log {
  text-align: right;
}
li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a.active {
  font-family: "Kaushan";
  transform: rotate(-2deg);
}

li a:hover {
  background-color: #111;
}

html {
  scroll-behavior: smooth;
}

.centre-h4 {
  margin-top: 0;
  font-size: 40;
  font-family: 'Abril Fatface', cursive;
  font-size: 30px;
  color: black;
  font-weight: 600;
  margin-top: -20px;
}

.navigationbar {
  position: absolute;
  width: 100%;
  font-family: "Poppins";
}
.about {
  background-image: url("./images/ava.jpg");
  background-repeat: no-repeat;
  padding-top: 60px;
  text-align: center;

  font-family: 'Poppins',sans-serif;

  height: 900px;
  padding-left: 50px;
  padding-right: 50px;
  font-size: 18px;
  font-weight: 400;
  display: block;
}

.about-tag {
  padding-left: 30px;
  padding-top: 150px;
}

.no-margin-top {
 font-family: 'Lobster',sans-serif;
 color: #111;
}
input[type="text"] {
  width: 300px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 30px;
  padding-top: 40px;
  font-size: 16px;
  background-color: white;
  background-image: url("searchicon.png");
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  /* -webkit-transition: width 0.1s ease-in-out;
  transition: width 0.4s ease-in-out; */ */
}
/* 
input[type=text]:focus {
  width: 65%; */
