<!DOCTYPE html>
<html>

<head>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet"
		id="bootstrap-css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet"> 
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="./cart.css" />
</head>

<body  style="font-family: 'Poppins',sans-serif;">


	<div class="navigationbar" >
		<ul>
		  <li>
			<a class="active" href="#home">
			  Freelanco
			</a>
		  </li>
		  <li>
			<a href="#news">News</a>
		  </li>
		  <li>
			<a href="#contact">Contact</a>
		  </li>
		  <li>
			<a href="#abt">Get Started ?</a>
		  </li>
		  <li>
		  <a href="{% url 'item list' %}">Services</a>
		  </li>
		  {% if user.is_authenticated %}
		  <li>
			<a class="log" href="{% url 'users:logout' %}">Logout</a>
		  </li>
		  {% else %}
		  <li>
			<a class="log" href="{% url 'users:login' %}">Login</a>
		  </li>
		   <li>
			<a  href="{% url 'users:customer_signup' %}">Signup as a customer</a>
		  </li>
		  <li>
		  <a href="{% url 'users:freelancer_signup' %}">Signup as a freelancer</a>
		  </li> 
		  {% endif %}
		</ul>
	  </div>
	<div class="container" style="padding-top: 50px;">
		{% if items_exist %}
		<div class="row">
			<div class="col-sm-12 col-md-10 col-md-offset-1">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>Service</th>
							<th>Quantity</th>
							<th class="text-center">Price</th>
							<th class="text-center">Total</th>
							<th> </th>
						</tr>
					</thead>
					<tbody>
						{% for item in cart_items %}
						<tr>
							<td class="col-md-6">
								<div class="media">
									<a class="thumbnail pull-left" href="#"> <img class="media-object" src=""
											alt="service logo" style="width: 72px; height: 72px;"> </a>
									<div class="media-body">
										<h4 class="media-heading"><a href="#">{{ item.title }}</a></h4>
										<h5 class="media-heading"> by <a href="#">Brand name</a></h5>
										<span>Status: </span><span class="text-warning"><strong> No update,
												yet.</strong></span>
									</div>
								</div>
							</td>
							<td class="col-md-1" style="text-align: center">
								<input type="email" class="form-control" id="exampleInputEmail1" value="2">
							</td>
							<td class="col-md-1 text-center"><strong>&#8377 4.99</strong></td>
							<td class="col-md-1 text-center"><strong>&#8377 9.98</strong></td>
							<td class="col-md-1">
								<button type="button" class="btn btn-danger" style="border-radius: 30px;">
									<span class="glyphicon glyphicon-remove"></span> Remove
								</button></td>
						</tr>
						{% endfor %}
						<tr>
							<td>   </td>
							<td>   </td>
							<td>   </td>
							<td>
								<h5>Subtotal</h5>
							</td>
							<td class="text-right">
								<h5><strong>&#8377 24.59</strong></h5>
							</td>
						</tr>
						<tr>
							<td>   </td>
							<td>   </td>
							<td>   </td>
							<td>
								<h5>Taxes</h5>
							</td>
							<td class="text-right">
								<h5><strong>&#8377 0</strong></h5>
							</td>
						</tr>
						<tr>
							<td>   </td>
							<td>   </td>
							<td>   </td>
							<td>
								<h3>Total</h3>
							</td>
							<td class="text-right">
								<h3><strong>&#8377 31.53</strong></h3>
							</td>
						</tr>
						<tr>
							<td>   </td>
							<td>   </td>
							<td>   </td>
							<td>
								<a class="btn btn-default" href="{% url 'item list' %}" style="border-radius: 30px;">
									<span class="glyphicon glyphicon-shopping-cart"></span> Continue Shopping
								</a>
							</td>
							<td>
								<button type="button" class="btn btn-success" style="border-radius: 30px;">
									Checkout <span class="glyphicon glyphicon-play"></span>
								</button></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		{% else %}
		<div>
			<p>You have no items in your cart!</p>
			<a class="btn btn-default" href="{% url 'item list' %}" style="border-radius: 30px;">
				<span class="glyphicon glyphicon-shopping-cart"></span> Continue Shopping
			</a>
		</div>
		{% endif %}
	</div>



</body>

</html>