{% extends "services_temp/base.html" %}
{% block content %}
{% if items_exist %}
{% for item in items %}
<article class="media content-section">
    <div class="media-body">
        <div class="media">
            <div class="article-metadata">
                <a class="mr-2 ml-5" href="#">{{ item.title }} (Add link to detailed view using pk)</a>
                <small class="text-muted">{{ item.post_date|date:"F d, Y" }}</small>
            </div>
        </div>
        <div>
            {% if item.serviceCost != item.discountedCost %}
            <small> Actual Cost: {{ item.serviceCost }}</small>
            <br>
            <small> Discounted Cost: {{ item.discountedCost }}</small>
            {% else %}
            {% endif %}
            <small> Cost: {{ item.serviceCost }}</small>
            <br>
            <small> Service Provider: {{ item.provider }} (Add link to his profile)</small>
            <p class="article-content">
                <small>Description:</small>
                {{ item.description }}
            </p>
        </div>
    </div>
</article>
{% endfor %}
{% else %}
<h4> Sorry, no services have been listed. </h4>
{% endif %}
{% endblock content %}