{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Seller services list</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/seller_service_list.css' %}"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.12.1/css/all.css"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container">
      <section class="about-me" id="about">
        <div class="container">
          <!--Start card-->
          <div class="box">
            <div class="row">
              <div class="about">
                <div class="row">
                  <div class="img">
                    <img src="{% static "images/temp.jpg" %}">
                  </div>
                  <div class="text">
                    <span>Massage</span>
                    <p>$100</p>

                    <div class="info">
                      <div class="list">
                        <label>Posted Date:</label>
                        <p>26th nov 2000</p>
                        <br />
                        <label>Offered by:</label>
                        <p>Freelancer</p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="button text-right">
                        <a href="">Edit</a>
                      </div>
                      <div class="button text-right">
                        <a href="">Delete</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--End Card-->
          <div class="box">
            <div class="row">
              <div class="about">
                <div class="row">
                  <div class="img">
                    <img src="{% static "images/temp.jpg" %}">
                  </div>
                  <div class="text">
                    <span>Massage</span>
                    <p>$100</p>

                    <div class="info">
                      <div class="list">
                        <label>Posted Date:</label>
                        <p>26th nov 2000</p>
                        <br />
                        <label>Offered by:</label>
                        <p>Freelancer</p>
                        <br />
                      </div>
                    </div>
                    <div class="row">
                      <div class="button text-right">
                        <a href="">Edit</a>
                      </div>
                      <div class="button text-right">
                        <a href="">Delete</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="box">
            <div class="row">
              <div class="about">
                <div class="row">
                  <div class="img">
                    <img src="{% static "images/temp.jpg" %}">
                  </div>
                  <div class="text">
                    <span>Massage</span>
                    <p>$100</p>

                    <div class="info">
                      <div class="list">
                        <label>Posted Date:</label>
                        <p>26th nov 2000</p>
                        <br />
                        <label>Offered by:</label>
                        <p>Freelancer</p>
                        <br />
                      </div>
                    </div>
                    <div class="row">
                      <div class="button text-right">
                        <a href="">Edit</a>
                      </div>
                      <div class="button text-right">
                        <a href="">Delete</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>

    <a href="#" class="float">
      <i class="fa fa-plus my-float"></i>
    </a>
  </body>
</html>
