{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Seller Services</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/seller_services_crnt.css' %}"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.12.1/css/all.css"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container">
     {% for item in orders %}
      <section class="about-me" id="about">
        <div class="container">
          <!--Start card-->
          <div class="box" style="width: 100%;">
            <div class="row">
              <div class="about">
                <div class="row">
                  <div class="img">
                    <img src="{{item.item.picture.url}}" style="position: relative;height:150px;width:200px">
                  </div>
                  <div class="text">
                    <span>{{ item.item.title }}</span>
                    <button id="myBtn" class="button" name="btn {{item.id}}">Customer Details</button> 
                    <div id="myModal {{item.id}}" class="modal">
                      <div class="modal-content">
                        <span class="close {{item.id}}">&times;</span>
                        <h1 style="color: #4CAF50;padding-bottom:6px;">Customer Details</h1>
                        <h4 style="color: #6c6d70;">{{item.user.user.first_name}} {{item.user.user.last_name}}</h3>
                        <h4 style="color: #6c6d70;"><a href="mailto:{{item.user.user.email}}">{{item.user.user.email}}</a></h3>
                        <h4 style="color: #6c6d70;">{{item.item.provider.phone}}</h3>
                        <h3 style="color: #4CAF50 ;">Address ({{item.user.addresses.first.name}})</h3>
                        <h4 style="color: #6c6d70;font-weight: 500">{{item.user.addresses.first.address1}}</h4>
                        <h4 style="color: #6c6d70;font-weight: 500">{{item.user.addresses.first.address2}}</h4>
                        <h4 style="color: #6c6d70;font-weight: 500">{{item.user.addresses.first.pin_code}}</h4>
                        <h4 style="color: #6c6d70;font-weight: 500">{{item.user.addresses.first.get_city_display}}</h4>
                        <h4 style="color: #6c6d70;font-weight: 500">{{item.user.addresses.first.state}}</h4>
                        </div>
                    </div>
                    {% if item.item.discounted_cost == -1%}
                    <p>&#8377 {{ item.item.actual_cost }}</p>
                    {% else %}
                    <p>&#8377 {{ item.item.discounted_cost }}</p>
                    {% endif %}
                    <div class="info">
                      <div class="list">
                        <label>Availed Date:</label>
                        <p>{{ item.order_set.first.start_date }}</p>
                        <br />
                        <label><strong>Status:</strong></label>
                        {%if item.accepted == 1 %}
                        <p style="color:green"> You have accepted and finished this order successfully </p>
                        {% else %}
                        <p style="color:red"> You had rejected this order </p>
                        {% endif %}
                      </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
          <!--end card-->
        </div>
      </section>
      <script>
var modal = document.getElementById("myModal {{item.id}}");
var btn = document.getElementsByName("btn {{item.id}}")[0];
var span = document.getElementsByClassName("close {{item.id}}")[0];
btn.onclick = function() {
  modal.style.display = "block";
}

span.onclick = function() {
  modal.style.display = "none";
}
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>
      {% endfor %}
    </div>
  </body>
</html>
