{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Seller Services</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/seller_services_crnt.css' %}"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.12.1/css/all.css"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container">
      <section class="about-me" id="about">
        <div class="container">
          {% for item in orders %}
          <!--Start card-->
          <div class="box">
            <div class="row">
              <div class="about">
                <div class="row">
                  <div class="img">
                    <img src="{% static "images/temp.jpg" %}">
                  </div>
                  <div class="text">
                    <span>{{ item.item.title }}</span>
                    
                    {% if item.item.discounted_cost == -1%}
                    <p>&#8377 {{ item.item.actual_cost }}</p>
                    {% else %}
                    <p>&#8377 {{ item.item.discounted_cost }}</p>
                    {% endif %}
                    <div class="info">
                      <div class="list">
                        <label>Posted Date:</label>
                        <p>{{ item.item.post_date }}</p>
                        <br />
                        <label><strong>Status:</strong></label>
                        <p> Pending your approval </p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="button">
                        <a href="{% url 'accept order' pk=item.pk %}">Accept</a>
                      </div>
                      <div class="button1">
                        <a href="{% url 'reject order' pk=item.pk %}">Reject</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--end card-->
          {% endfor %}
        </div>
      </section>
    </div>
  </body>
</html>
